@using Ex2_CRUD.Models;

@{
    Layout = "MasterPage";
    ViewBag.Title = "Edição de usuários";
    UsuarioModel usuario = ViewBag.usuario;
    string dataDeNascimento = usuario.DataNascimento.ToString("yyyy-MM-dd");
}

<form action="/Usuario/Editar" method="POST">
        <input type="Hidden" value="@usuario.ID" name="id">
    <label>
        Nome
        <input type="text" value="@usuario.Nome" name="nome">
    </label>

    <label> 
        Email
        <input type="text" value="@usuario.Email" name ="email">
    </label>
    <label>
        Senha
        <input type="text" value="@usuario.Senha"  name="senha">
    </label>
    <label>
        Data de Nascimento
        <input type="date" value="@dataDeNascimento" name="datanascimento">
    </label>
    <input type="submit" value="Editar">
</form>